@model EasyMarket.Models.Produto

<div class="panel panel-primary">
    <div class="panel-heading"><h4>Produto</h4></div>
    <div class="panel-body"> 
     <div>
            <table>
                <tr>
                    <td>
                        <img src="~/Utils/img/@Html.DisplayFor(model => model.Foto)" class="img-responsive" alt="Imagem responsiva">
                    </td>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Cod)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Cod)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PrecoCusto)
                            </dt>

                            <dd>
                                R$  @Html.DisplayFor(model => model.PrecoCusto)
                            </dd>
                        </dl>
                    </td>
                </tr>
            </table>

        </div>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>    
</div>
