@model IEnumerable<EasyMarket.Models.Produto>

<div class="panel panel-info">

    <div class="panel-heading">Lista dos produtos de Todos os Supermercado 
    </div>    

    <div class="btn-group" role="group" aria-label="...">      
        <div class="btn-group" role="group">
             <a href="@Url.Action("Create", "Produto")" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp; Cadastrar Produto </a>
        </div>
        <div class="btn-group" role="group">
            <a href="@Url.Action("SelecionarMercado", "Produto")" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> &nbsp; Filtrar Por Supermercado </a>
        </div>        
   </div>
        
      <div id="Tabela">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoCusto)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <b>R$</b>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.PrecoCusto)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>   
</div>




